---
import { RARITY_URLS } from '../../../config';
import type { Stats } from '../../../types';
import Trans from '../../common/trans.astro';
const { PUBLIC_CLOUDFRONT_BASE_URL } = import.meta.env;

export type Props = {
  name: string;
  type: string;
  iconName?: string;
  stats?: Stats[];
  rarity: string;
  isHeader?: boolean;
};

const { name, iconName = '', rarity, type, isHeader = false } = Astro.props;
---

<div class="flex-auto basis-2/12 self-center text-left sm:basis-1/12">
  {
    !isHeader && (
      <img
        class="h-[32px] w-[32px] lg:h-[64px] lg:w-[64px]"
        src={`${PUBLIC_CLOUDFRONT_BASE_URL}/${type.toLowerCase()}/${iconName}.png`}
      />
    )
  }
</div>
<div class="flex-auto basis-3/12 self-center text-left sm:basis-4/12">{name}</div>
<div class="flex-auto basis-3/12 self-center text-left sm:basis-4/12">
  {isHeader && type}
  {
    !isHeader && (
      <img
        class="h-[48px] w-[48px]"
        src={`${PUBLIC_CLOUDFRONT_BASE_URL}/icons/${type.charAt(0).toUpperCase() + type.slice(1).toLowerCase()}.png`}
      />
    )
  }
</div>
<div class="flex-auto basis-3/12 self-center text-left sm:basis-4/12">
  {isHeader && <Trans key="encyclopedia:stats" />}
</div>
<div class="flex-initial basis-2/12 self-center text-left sm:basis-1/12">
  {isHeader && rarity}
  {!isHeader && <img class="h-[37px] w-[32px]" src={RARITY_URLS[rarity as keyof typeof RARITY_URLS]} />}
</div>
