---
import { Image, Picture } from '@astrojs/image/components';
import { RARITY_URLS } from '../../../config';
const { PUBLIC_CLOUDFRONT_BASE_URL } = import.meta.env;

export type Props = {
  name: string;
  iconName?: string;
  rarity: string;
  isHeader?: boolean;
};

const { name, iconName = '', rarity, isHeader = false } = Astro.props;
---

<div class="flex-auto basis-3/12 self-center text-left sm:basis-1/12">
  {
    !isHeader && (
      <Picture
        aspectRatio="1:1"
        widths={[48, 64]}
        sizes="(min-width: 768px) 64px, 48px"
        alt={iconName}
        src={`${PUBLIC_CLOUDFRONT_BASE_URL}/quest-resources/${iconName}.png`}
      />
    )
  }
</div>
<div class="flex-auto basis-6/12 self-center text-left text-sm sm:basis-2/12 md:text-base">{name}</div>
<div class="flex-initial basis-3/12 self-center text-left text-sm sm:basis-1/12 md:text-base">
  {isHeader && rarity}
  {
    !isHeader && (
      <Image height={42} width={36} alt={`rarity-${rarity}`} src={RARITY_URLS[rarity as keyof typeof RARITY_URLS]} />
    )
  }
</div>
