---
import type { NavItem } from '../../types';
import i18next, { t } from 'i18next';
import { CLOUDFRONT_BASE_URL, INVITE_LINK } from '../../config';
import Link from '../common/link.astro';
import LanguageSelect from './language-select.astro';
import Icon from 'astro-icon';
import './header.css';

export interface Props {
  headerFixed?: boolean;
}

const { headerFixed } = Astro.props;

const currentLanguage = i18next.language;

const navItems: Array<NavItem> = [
  { title: t('header:documentation'), url: `/${currentLanguage}/docs/intro` },
  { title: t('header:encyclopedia'), url: `/${currentLanguage}/encyclopedia/intro` },
];
---

<header
  id="page-header"
  class:list={[
    'z-20 flex w-full items-center justify-between border-b border-transparent px-8 py-4',
    { 'absolute bottom-0': !headerFixed },
  ]}
>
  <Link href={`/${currentLanguage}`}>
    <img alt="icon" src={`${CLOUDFRONT_BASE_URL}icons/BotIcon.png`} class="h-10 w-10" />
  </Link>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <Link class="text-md" href={url}>
                  {title}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
      <LanguageSelect class="hidden sm:block" />
      <Link class="bg-default border-2 px-4 py-2 border-current" href={INVITE_LINK}>
        {t('header:addToServer')}
      </Link>
      <button type="button" class="link sm:hidden" onclick="toggleMobileMenu()">
        <Icon pack="mdi" name="menu" class="h-8" />
      </button>
    </div>
    <div class="hidden" id="mobile-menu">
      <div class="fixed inset-0 bg-default p-4 text-default">
        <header class="text-right">
          <button type="button" class="link" onclick="toggleMobileMenu()">
            <Icon pack="mdi" name="close" class="h-8" />
          </button>
        </header>
        <div class="flex justify-center pb-4">
          <Link href="/">
            <img alt="icon" src={`${CLOUDFRONT_BASE_URL}icons/BotIcon.png`} class="h-20 w-20" />
          </Link>
        </div>
        <div class="flex justify-center py-4">
          <LanguageSelect class="w-[200px]" />
        </div>
        <nav>
          <ul class="flex flex-col">
            {
              navItems.map(({ title, url }) => (
                <li>
                  <Link class="block py-4 text-center text-2xl" href={url}>
                    {title}
                  </Link>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<script is:inline>
  function toggleMobileMenu() {
    const menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
  }
</script>

<script>
  const header = document.getElementById('page-header') as HTMLElement;
  const page = document.documentElement;

  document.addEventListener('scroll', () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    header.classList.toggle('fixed-header', d < 0);
  });
</script>
