---
import type { NavItem } from '../../types';
import i18next, { t } from 'i18next';
import { CLOUDFRONT_BASE_URL, INVITE_LINK } from '../../config';
import Link from '../common/link.astro';
import Icon from 'astro-icon';
import { LanguageSelect } from './language-select';

export interface Props {
  headerSticky: boolean;
}

const { headerSticky } = Astro.props;

const currentLanguage = i18next.language;

const navItems: Array<NavItem> = [
  { title: t('header:documentation'), url: `/${currentLanguage}/documentation/introduction` },
  { title: t('header:encyclopedia'), url: `/${currentLanguage}/encyclopedia/intro` },
];
---

<header
  id="page-header"
  class:list={[
    'z-20 flex w-full items-center justify-between border-b border-transparent px-8 py-4',
    { 'absolute bottom-0': !headerSticky },
    { 'sticky top-0 bg-default': headerSticky },
  ]}
>
  <Link href={`/${currentLanguage}`}>
    <img alt="icon" src={`${CLOUDFRONT_BASE_URL}icons/BotIcon.png`} class="h-10 w-10" />
  </Link>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden md:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <Link class="text-md" href={url}>
                  {title}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
      <LanguageSelect client:load />
      <Link href={INVITE_LINK} class="font-bold" isPrimary={true} isButton={true}>
        {t('header:addToServer')}
      </Link>
      <button
        type="button"
        class="transition-colors duration-200 hover:text-secondary-offset md:hidden"
        onclick="toggleMobileMenu()"
      >
        <Icon pack="mdi" name="menu" class="h-8" />
      </button>
    </div>
    <div class="hidden" id="mobile-menu">
      <div class="fixed inset-0 bg-default p-4 text-default">
        <header class="px-4 py-2 text-right">
          <button
            type="button"
            class="transition-colors duration-200 hover:text-secondary-offset"
            onclick="toggleMobileMenu()"
          >
            <Icon pack="mdi" name="close" class="h-8" />
          </button>
        </header>
        <div class="flex justify-center pb-4">
          <Link href="/">
            <img alt="icon" src={`${CLOUDFRONT_BASE_URL}icons/BotIcon.png`} class="h-20 w-20" />
          </Link>
        </div>
        <nav>
          <ul class="flex flex-col">
            {
              navItems.map(({ title, url }) => (
                <li>
                  <Link class="block py-4 text-center text-2xl" href={url}>
                    {title}
                  </Link>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<script is:inline>
  function toggleMobileMenu() {
    const menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
  }

  const header = document.getElementById('page-header');
  const page = document.documentElement;

  document.addEventListener('scroll', () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    if (!header.classList.contains('sticky')) {
      if (d < 0) {
        header.classList.add('!fixed', 'top-0', 'bottom-auto', '!border-default', 'bg-default');
      } else {
        header.classList.remove('!fixed', 'top-0', 'bottom-auto', '!border-default', 'bg-default');
      }
    }
  });
</script>

<style></style>
