---
import { Picture } from '@astrojs/image/components';
import { RARITY_URLS } from '../../../config';
import type { Item } from '../../../types';
import Trans from '../../common/trans.astro';
const { PUBLIC_CLOUDFRONT_BASE_URL } = import.meta.env;

export type Props = {
  name: string;
  iconName?: string;
  rarity: string;
  loots?: Item[];
  isHeader?: boolean;
};

const { name, iconName = '', rarity, loots, isHeader = false } = Astro.props;
---

<div class="flex-auto basis-2/12 self-center text-left sm:basis-1/12">
  {
    !isHeader && (
      <Picture
        aspectRatio="1:1"
        widths={[48, 64]}
        sizes="(min-width: 768px) 64px, 48px"
        alt={iconName}
        src={`${PUBLIC_CLOUDFRONT_BASE_URL}/monsters/512/${iconName}.png`}
      />
    )
  }
</div>
<div class="flex-auto basis-8/12 self-center text-left text-sm sm:basis-2/12 md:text-base">{name}</div>
<div class="hidden flex-auto basis-4/12 self-center text-left text-sm sm:block md:text-base">
  {isHeader && <Trans key="encyclopedia:loots" />}
  {
    loots?.map((loot) => (
      // TODO Add tooltip or link to item detail
      <img
        class="inline h-[32px] w-[32px] lg:h-[64px] lg:w-[64px]"
        src={`${PUBLIC_CLOUDFRONT_BASE_URL}/${loot.type.toLowerCase()}/${loot.iconName}.png`}
      />
    ))
  }
</div>
<div class="flex-initial basis-3/12 self-center text-left text-sm sm:basis-1/12 md:text-base">
  {isHeader && rarity}
  {
    !isHeader && (
      <Picture
        widths={[24, 36]}
        sizes="(min-width: 768px) 36px, 24px"
        aspectRatio="6:7"
        alt={`rarity-${rarity}`}
        src={RARITY_URLS[rarity as keyof typeof RARITY_URLS]}
      />
    )
  }
</div>
