---
import { t } from 'i18next';
import { Icon } from 'astro-icon';
import ContentSection from './content-section.astro';
import type { FeatureItem } from '../../types';
import Link from '../common/link.astro';
import { getLanguageFromURL } from '../../utils';
import Trans from '../common/trans.astro';

const lang = getLanguageFromURL(Astro.url.pathname);

const features: Array<FeatureItem> = [
  {
    title: t('features.equipments.title', { lng: lang }),
    description: t('features.equipments.desc', { lng: lang }),
    icon: 'ph:sword-light',
  },
  {
    title: t('features.pve.title', { lng: lang }),
    description: t('features.pve.desc', { lng: lang }),
    icon: 'ph:alien-light',
  },
  {
    title: t('features.pvp.title', { lng: lang }),
    description: t('features.pvp.desc', { lng: lang }),
    icon: 'akar-icons:double-sword',
  },
  {
    title: t('features.quests.title', { lng: lang }),
    description: t('features.quests.desc', { lng: lang }),
    icon: 'ic:outline-menu-book',
  },
  {
    title: t('features.enchantments.title', { lng: lang }),
    description: t('features.enchantments.desc', { lng: lang }),
    icon: 'bi:gem',
  },
  {
    title: t('features.achievements.title', { lng: lang }),
    description: t('features.achievements.desc', { lng: lang }),
    icon: 'ph:trophy-light',
  },
];
---

<ContentSection title={t('features.title', { lng: lang })}>
  <Fragment slot="main">
    <Trans key="features.desc"><span class="text-primary"></span></Trans>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center text-xl font-extrabold sm:text-2xl">{title}</p>
          <p class="text-center text-sm text-offset sm:text-base">{description}</p>
        </li>
      ))
    }
  </ul>
  <span class="!mt-0 w-full max-w-6xl text-right text-sm">
    <Link href={`/${lang}/documentation/introduction`} isPrimary={true}>
      <Trans key="features.seeDocumentation" />
    </Link>
  </span>
</ContentSection>
